/* Template to initiate a CSS file (from line 2 to 43) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Properties of the body : he'll perfectly frame the elements */
body{
	width: 100%;
	height: 100%;
	font-size: 1.3rem;
	font-family: arial,ssans,sans-serif;
	background-image: url("../Images/bde.png");
	background-repeat: no-repeat;
	background-position: center;
}

#PP{
	width: 100px;
	height: 100px;
}

#header{
	font:13px Arial, Helvetica, sans-serif;
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

#header img{
	float: left;
	max-width: 100px;
	max-height: 100px;
	margin-top: -5px;

}

/* The first bar */

#red_bar{
	background-color: #c2242a;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}
/* Link if the red bar properties */
#red_bar a {
	color: #ffffff ;
	text-decoration: none;
}

/* Navigation elements in the red bar properties */
#red_bar nav {
	font:14px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

/* Links in the navigation elements in the red bar properties */
#red_bar nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0#9;
	text-decoration:none;
	line-height: 1;
}

/* When we hover the links in the navigation elements in the red bar properties */
#red_bar nav a:hover {
	background-color: rgba(0,0,0, 0.6);	
}

/* The class "selected" in the red bar properties */
#red_bar .selected {
	border-radius: 2px;
	background-color:#6d2525 /*#325d77*/;
	padding: 8px 12px;
}

/* The class "log" properties */
.log {
	font-size: 13px;
	font-weight: bold;
	float: right;
	border-radius: 3px;
	background-color: rgba(58, 60, 62, 0);
	height: 40px;
	padding: 0 20px;
	border: 1px solid #ffffff;
	line-height: 40px;
	box-sizing: border-box;
	margin-left: 10px;
}

/* Second Bar */

#white_bar {
	background-color: rgba(255,255,255,0);
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0#05);
	padding: 20px 40px;
}

/* Navigation elements in the white bar properties */
#white_bar nav {
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Links in the navigation elements in the white bar properties */
#white_bar nav a {
	display: inline-block;
	color: #000000;
	text-decoration: none;
}

/* The class "fa" properties */
.fa {
	color: #000000;
	margin: 0 4px 0 15px;
}

footer{
	text-align: center;
	margin-top: 80px;
}
.links{
	margin-left: 50px;
}

/* Responsive if the window's width is below 829px */
@media all and (max-width: 829px) {
	/* Reduce the font size of the navigation elements in the white bar */
	#white_bar nav{
		font-size:14px;
	}
	#red_bar{
		height: 100px;
	}

}

#pcesi{
	text-align:center;
}
#mainframe {
	margin:auto;
	text-align: center;
    border:1px solid black;
    border-radius:30px;
    max-width:400px;
    height:auto;
}

#title2 {
	font-size:30px;
}

#logininfo{
	text-align:left;
	margin-left:130px;

}
.forgot {
	font-size:12px;
	text-align:right;
}
#buttonsign {
	margin-left:40px;
}
.divtitle{
	margin-top:2em;
}

.divcreate{
	margin-top:1em;
}

/* Responsive if the window's width is below 600px */
@media all and (max-width: 600px) {

	#red_bar{
		padding:20px 0;
	}

	#red_bar h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	#red_bar nav {
		margin: 0;
		float: none;
		font-size:13px;
	}

	.selected {
		padding: 5px 8px;
	}

	#white_bar{
		padding: 20px 0;
	}

	#white_bar h2{
		float:none;
		margin: 0 0 12px;
	}

	#white_bar nav{
		text-align: center;
	}

	#white_bar nav a{
		display: block;
		padding: 8px;
	}

	.fa{
		margin-left:0;
	}
}

.button2{
	float: right;
	margin-right: 25%;
}
footer{
	text-align: center;
	margin-top: 80px;
}
.links{
	margin-left: 50px;
}

/* Responsive if the window's width is below 579px */
@media all and (max-width: 579px) {
	footer a{
	text-align: center;
	margin-top: 80px;
	font-size:12px;
}
}

/*Responsive if the window's width is below 419px */
@media all and (max-width: 419px) {
	#title2 {
	font-size:20px;
	}

	.forgot {
	font-size:8px;
	text-align:right;
	}

	#logininfo{
	text-align:left;
	margin-left:100px;
	}	

	footer a{
	text-align: center;
	margin-top: 80px;
	font-size:10px;
}
}

/* Responsive if the window's width is below 369px */
@media all and (max-width: 369px) {
		#logininfo{
	text-align:left;
	margin-left:70px;
	}	
}