/* Template to initiate a CSS file (from line 2 to 43) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Properties of the body : he'll perfectly frame the elements */
body{
	width: 100%;
	height: 100%;
	font-size: 1.3rem;
	font-family: arial,ssans,sans-serif;
	background-image: url("../Images/bde.png");
	background-repeat: no-repeat;
	background-position: center;
}

#header{
	font:13px Arial, Helvetica, sans-serif;
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

#header img{
	float: left;
	max-width: 100px;
	max-height: 100px;
	margin-top: -5px;

}

/* The first bar */

#red_bar{
	background-color: #c2242a;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}
/* Link if the red bar properties */
#red_bar a {
	color: #ffffff ;
	text-decoration: none;
}

/* Navigation elements in the red bar properties */
#red_bar nav {
	font:14px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

/* Links in the navigation elements in the red bar properties */
#red_bar nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0#9;
	text-decoration:none;
	line-height: 1;
}

/* When we hover the links in the navigation elements in the red bar properties */
#red_bar nav a:hover {
	background-color: rgba(0,0,0, 0.6);	
}

/* The class "selected" in the red bar properties */
#red_bar .selected {
	border-radius: 2px;
	background-color:#6d2525 /*#325d77*/;
	padding: 8px 12px;
}

/* The class "log" properties */
.log {
	font-size: 13px;
	font-weight: bold;
	float: right;
	border-radius: 3px;
	background-color: rgba(58, 60, 62, 0);
	height: 40px;
	padding: 0 20px;
	border: 1px solid #ffffff;
	line-height: 40px;
	box-sizing: border-box;
	margin-left: 10px;
}

/* Second Bar */

#white_bar {
	background-color: rgba(255,255,255,0);
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0#05);
	padding: 20px 40px;
}

/* Navigation elements in the white bar properties */
#white_bar nav {
	text-align: right;
	line-height: 20px;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Links in the navigation elements in the white bar properties */
#white_bar nav a {
	display: inline-block;
	color: #000000;
	text-decoration: none;
}

/* The class "fa" properties */
.fa {
	color: #000000;
	margin: 0 4px 0 15px;
}

footer{
	text-align: center;
	margin-top: 40px;
}
.links{
	margin-left: 50px;
}

.button{
	margin-top: 20px;
}

.periods{
	margin-left: 30px;
}

.year{
	font-size: 5rem;
	color: red;
	font-weight: bold;
}

.months li{
	display: inline;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin-left: 10px;
	font-weight: bold;
}

.months ul li a:hover, .months ul li a.active{  
	color:#D90000;
}

.months a{
	color: green;
	text-decoration: none;
}

.clear{
	margin-top: 30px;
}

.month th{
	width: 100px;
	height: 30px;
}

.month td{
	width: 100px;
	height: 70px;
	border-style: solid;
	border-width: 1px;
	text-align: right;
}

table td:hover{  
	background:#DFDFDF;  
	cursor:pointer;
}

table td.today{  
	border:2px solid #D90000;  
	width:80px;  
	height:80px;
}

td.passing{
	border-style: none;
	height: 50px;
}

.day{
	padding-top: 30px;
	font-size: 1.3rem;
	font-weight: bold;
	color: #5A5D5E;
}

table td .events{  
	position:relative;  
	width:79px;  
	height:0px;  
	margin:-39px 0px 0px;  
	padding:0px;
}

table td .events li{  
	width:10px;  
	height:10px;  
	float:left;  
	background:#000;  
	-moz-border-radius:10px;  
    -webkit-border-radius:10px;  
    -khtml-border-radius:10px;  
    border-radius:10px 10px 10px 10px;  
    margin-left:6px;  
    overflow:hidden;  
    text-indent:-3000px;
}

a {
	color: blue;
}
table td:hover .events{  
	position:absolute;  
	left:50%;  
	top:66px;  
	width:200px;  
	margin:0px; 
}

table td:hover .events li{ 
	height:40px;  
	line-height:40px;  
	font-weight:bold;   
	background:none;  
	width:400px;
}

table td:hover .events li:first-child{  
	border-top:1px solid #D6D6D6;
}

.relative{  
	position:relative
}

table td .daytitle{  
	display:none;
}

table td:hover .daytitle{  
	position:absolute;  
	left:50%;  
	top:21px;  
	width:500px;  
	list-style:none;  
	margin:0px 0px 0px 16px;  
	padding:0px;  
	color:#D90000; 
 	font-size:41px;  
 	display:inline;  
 	font-weight:bold;
 }

#button{
	text-align: center;
}


/* Responsive if the window's width is below 829px */
@media all and (max-width: 829px) {
	/* Reduce the font size of the navigation elements in the white bar */
	#white_bar nav{
		font-size:14px;
	}
	#red_bar{
		height: 100px;
	}

	#logout{
		margin-top: 40px;
	}

}

/* Responsive if the window's width is below 693px */
@media all and (max-width: 693px) {
	#logout{
		margin-top: 0px;
	}
}

/* Responsive if the window's width is below 599px */
@media all and (max-width: 599px) {
	#red_bar{
		padding:20px 0;
		height: 126px;
	}

	body{
		font-size: 1rem;
	}

	#header img{
		float: right;
	}

	#red_bar nav{
		margin-left: 40px;
		padding-top: 26px;
	}

	#logout{
		margin-top: 66px;
		margin-right: -90px;
	}
}

/* Responsive if the window's width is below 504px */
@media all and (max-width: 504px) {
	#red_bar nav{
		margin-top: 0px;
		margin-left: 0px;
	}

	#logout{
		margin-top: 19px;
		margin-right: 0px;
	}
}

/* Responsive if the window's width is below 486px */
@media all and (max-width: 486px) {
	body{
		font-size: 10px;
	}

	#red_bar{
		height: 126px;
	}

	#header img{
		float: right;
	}

	.selected {
		padding: 5px 8px;
	}

	#white_bar{
		padding: 20px 0px 0px 0px;
		height: 50px;
	}

	#white_bar nav{
		text-align: center;
	}

	#logout{
		margin-top: 66px;
		margin-right: -80px;
	}

	#red_bar nav {
		margin: 0;
		font-size: 10px;
		margin-top: 0px;
	}

	.log{
		font-size: 10px;
		margin-top: 0px;
	}

	#white_bar nav a{
		display: inline;
		padding: 8px;
		font-size: 10px;
	}

	footer{
		margin-top: 20px;
	}

	.links{
		margin-left: 20px;
	}

	.fa{
		margin-left:0;
	}

	#calendar img{
		width: 300px;
		height: 300px;
	}

	button{
		font-size: 10px;
	}
}

/* Responsive if the window's width is below 403px */
@media all and (max-width: 403px) {
	#logout{
		margin-right: 0px;
		margin-top: 19px;
	}
}

/* Responsive if the window's width is below 395px */
@media all and (max-width: 395.5px) {
	#red_bar{
		height: 148px;
	}

	#red_bar nav{
		padding-top: 47px;
	}

	#logout{
		margin-top: 41px;
	}

	.log{
		margin-top: 1px;
	}
}

/* Responsive if the window's width is below 379px */
@media all and (max-width: 379px) {
	#red_bar nav{
		padding-top: 0px;
	}
}

/* Responsive if the window's width is below 366px */
@media all and (max-width: 366px) {
	#logout{
		margin-top: 1px;
	}
}